<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantra</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('blocks/header') -%>
    <h2><%= mantra.mantraName %></h2>
    <h3><%= mantra.mantra %></h3>
    
    <a href="/">Гоу на головну!</a>
</body>
</html>